  <div>
    <div *ngFor="let item of grid; let yi=index" class="cell-container">
      <span *ngFor="let el of grid; let xi=index" class="cell-container" (click)="selectCell(yi,xi)"
        (contextmenu)="setFlag(yi,xi)">
        <div class="cell">
          <ng-container *ngIf="isBomb(yi, xi); else elseTemplate">
            <span class="material-icons bomb cell-content" id="c{{yi.toString()+xi.toString()}}">
              all_out
            </span>
          </ng-container>
          <ng-template #elseTemplate>
            <span class="cell-content" id="c{{yi.toString()+xi.toString()}}">
              {{getNearBombsNumber(yi,xi)}}
            </span>
          </ng-template>
        </div>
      </span>
    </div>

    <div class="controls">
      <button class="reset-btn" (click)="reset()">Reset</button>
    </div>
  </div>
