@import '../../../assets/palette.scss';

.root-div {
  margin: 0 auto;
}

.cell-container {
  text-align: center;
}

.cell {
  margin: auto;
  text-decoration: none;
  width: 2em;
  height: 2em;
  background-color: $mountain-meadow;
  font-size: 24px;
  display: inline-block;

  &:hover {
    background-color: $midnight-green-eagle-green;
  }
}

.cell-shown {
  background-color: $caribbean-green;
}

.cell-bomb {
  background-color: $paradise-pink;
}

.bomb {
  font-size: 20px;
}

.controls {
  text-align: center;
}

.reset-btn {
  height: 50px;
  margin-top: 10px;
  width: 100px;
  font-size: 2.2em;
}

.cell-content {
  visibility: hidden;
}

.cell-content-visible {
  visibility: visible;
}

.score-div {
  text-align: center;
}

.score-text {
  width: 50px;
  display: inline-block;
}


@media(max-width: 550px) {
  .cell {
    width: 1.5em;
    height: 1.5em;
  }
}

@media(max-width: 400px) {
  .cell {
    width: 1.2em;
    height: 1.2em;
  }
}

@media(max-width: 304px) {
  .cell {
    width: 1.1em;
    height: 1.1em;
  }
}

