<app-game-over *ngIf="gameOver" (onResetGame)="resetGame($event)"></app-game-over>
<div class="root-div">
  <div class="score-div">
    <div>
      <span class="material-icons watch">
        watch_later
      </span>
      <p id="timerText" class="score-text">
        {{elapsedTime}}
      </p>
    </div>
    <div>
      Bombs: {{bombNumber}}
    </div>
  </div>
  <app-minegrid #minegrid 
  (gameOverEvent)="setGameOver($event)" 
  (bombNumberEvent)="setBombNumber($event)" 
  (elapsedTimeEvent)="setTime($event)"></app-minegrid>
</div>
