@import "../../../assets/palette.scss";

.main {
  z-index: 20;
  width: 99%;
  height: 99%;
  position: absolute;
  background-color: transparentize($color: #000000, $amount: 0.1);
}

.content {
  font-size: xxx-large;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -110px;
  animation: 1s ease 1 enterLeft;
  color: $paradise-pink;
}

@keyframes enterLeft {
  0% {
    left: 0%;
    transform: skewX(20deg);
  }

  80% {
    left: 60%;
    transform: skewX(0deg);
  }

  100% {
    left: 50%;
    transform: skewX(-10deg);
  }
}
