/* SCSS HEX */
$paradise-pink: #ef476fff;
$orange-yellow-crayola: #ffd166ff;
$caribbean-green: #06d6a0ff;
$mountain-meadow: #05B788;
$blue-ncs: #118ab2ff;
$midnight-green-eagle-green: #073b4cff;

/* SCSS HSL */
$paradise-pink: hsla(346, 84%, 61%, 1);
$orange-yellow-crayola: hsla(42, 100%, 70%, 1);
$caribbean-green: hsla(164, 95%, 43%, 1);
$mountain-meadow: hsla(164, 95, 37);
$blue-ncs: hsla(195, 83%, 38%, 1);
$midnight-green-eagle-green: hsla(195, 83%, 16%, 1);

/* SCSS RGB */
$paradise-pink: rgba(239, 71, 111, 1);
$orange-yellow-crayola: rgba(255, 209, 102, 1);
$caribbean-green: rgba(6, 214, 160, 1);
$mountain-meadow: rgba(5, 183, 136,1);
$blue-ncs: rgba(17, 138, 178, 1);
$midnight-green-eagle-green: rgba(7, 59, 76, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #ef476fff, #ffd166ff, #06d6a0ff, #118ab2ff, #073b4cff);
$gradient-right: linear-gradient(90deg, #ef476fff, #ffd166ff, #06d6a0ff, #118ab2ff, #073b4cff);
$gradient-bottom: linear-gradient(180deg, #ef476fff, #ffd166ff, #06d6a0ff, #118ab2ff, #073b4cff);
$gradient-left: linear-gradient(270deg, #ef476fff, #ffd166ff, #06d6a0ff, #118ab2ff, #073b4cff);
$gradient-top-right: linear-gradient(45deg, #ef476fff, #ffd166ff, #06d6a0ff, #118ab2ff, #073b4cff);
$gradient-bottom-right: linear-gradient(135deg, #ef476fff, #ffd166ff, #06d6a0ff, #118ab2ff, #073b4cff);
$gradient-top-left: linear-gradient(225deg, #ef476fff, #ffd166ff, #06d6a0ff, #118ab2ff, #073b4cff);
$gradient-bottom-left: linear-gradient(315deg, #ef476fff, #ffd166ff, #06d6a0ff, #118ab2ff, #073b4cff);
$gradient-radial: radial-gradient(#ef476fff, #ffd166ff, #06d6a0ff, #118ab2ff, #073b4cff);
