/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import './assets/palette.scss';

:root {
  font-family: 'Ranchers', cursive;
  color: $midnight-green-eagle-green;
}

body {
  background-color: $orange-yellow-crayola;
}

button {
  font-family: 'Ranchers', cursive;
  color: $midnight-green-eagle-green;
}
